@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-section {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Poppins";
  margin-bottom: 40px;
  height: 270px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  margin-bottom: 20px;
}
.text-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
  color: #000;
}

.text-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #000;
}

.text-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000ee;
}
.video-container {
  // flex: 1;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.video {
  height: 100%;
  width: 95%;
}

@media (max-width: 830px) {
  .main-section {
    flex-direction: column;
    height: 100%;
  }

  .video-container {
    // height: 400px;
    width: 100%;
  }
  .video {
    height: 100%;
    width: 85%;
  }
}

@media (max-width: 480px) {
  .video-container {
    height: 200px;
  }
}
